$thead-bg-color-1: #b45d35;
$thead-bg-color-2: #cf3535;
$chevron-color: lighten($thead-bg-color-1, 10%);

$text-color: #C7CED8;
$secondary-text-color: #3c3ed1 ;
$border-color: #668366;
$input-border-color: $border-color;

$table-bg: #324057;
$highlight-color: #445168;